body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Poppins', sans-serif;
  overflow: hidden;
}

body.index-page {
  background: url('../assets/homebackground.png') no-repeat center center fixed;
  background-size: cover;
}

#menu {
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
  z-index: 1;
}

#menu button {
  padding: 10px 40px;
  font-size: 1.2rem;
  border: 4px solid #fff;
  border-radius: 50px;
  background-color: #0074C1;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease;
  text-transform: uppercase;
  white-space: nowrap;
}

#menu button:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}